# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Build

on:
  # This workflow is designed to be called by other workflows.
  workflow_call:
    inputs:
      git_ref:
        description: 'The Git reference (e.g., branch or tag) to checkout'
        required: true
        type: string
      commit_sha:
        description: 'The commit SHA to be used for the package artifact name'
        required: true
        type: string
    outputs:
      artifact_name:
        description: 'The name of the generated package file (e.g., FireworkDance.zip)'
        value: ${{ jobs.build_package.outputs.package_name }}

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-latest
    outputs:
      artifact_id: ${{ steps.upload-artifact.outputs.artifact_id }}
    defaults:
      run:
        shell: msys2 {0} # This sets the default shell for subsequent steps to MSYS2

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        ref: ${{ inputs.git_ref }} # Use the reference passed from the calling workflow

    - name: Cache MSYS2
      uses: actions/cache@v4
      with:
        path: C:\msys64 # Or wherever MSYS2 is installed
        key: ${{ runner.os }}-msys2-opengl # Or a more appropriate key
    
    - uses: msys2/setup-msys2@v2 # Setup MSYS2 environment
      with:
        msystem: UCRT64 # Or MINGW64, MINGW32, etc. depending on your target
        update: true
        install: git mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-cmake mingw-w64-ucrt-x86_64-glfw mingw-w64-ucrt-x86_64-glm mingw-w64-ucrt-x86_64-freetype zip

    - name: Run Bash Script
      run: |
        echo "Running build.sh..."
        chmod +x ./build.sh # Make the script executable
        ./build.sh # Execute your Bash script

    # --- Find and rename the generated ZIP file ---
    - name: Find and Set Output Name
      id: set-output-name
      shell: bash
      run: |
        # build.sh creates the ZIP in the distrib folder. We find the name and export it.
        # Example: FireworkDance.zip
        PACKAGE_FILE=$(find distrib -name "FireworkDance*.zip" -print -quit)
        PACKAGE_NAME=$(basename ${PACKAGE_FILE%.*})
        
        echo "package_name=$PACKAGE_NAME" >> $GITHUB_OUTPUT
        echo "Found package: $PACKAGE_NAME"

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      id: upload-artifact
      with:
        name: binaries
        path: ./distrib/*.zip # Upload the generated ZIP file
        retention-days: 1

